/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
/db
/docker-compose
public/plugins
Homestead.json
Homestead.yaml
.env
/mysql
/sap
/sys
/public/qrcode.png
.my-healthcheck.cnf
mariadb_upgrade_info
aria_log_control
ddl_recovery.log
ibdata1
ibtmp1
undo001
ib_logfile0
multi-master.info
ib_buffer_pool
undo002
.gitignore
performance_schema/db.opt
undo003
aria_log.00000001
